<?xml version="1.0"?>

<!--  
 * checkstyle.xml; Jun 5, 2009
 * ===========================================================================
 * Checkstyle configuration for use with seamserver component. 
 * ===========================================================================
 * This work has been carried out as part of the SEAMLESS Integrated Framework
 * project, EU 6th Framework Programme, contract no. 010036-2 and/or as part
 * of the SEAMLESS association.
 *
 * Copyright (c) 2009 The SEAMLESS Association.
 *
 * For more information: http://www.seamlessassociation.org;
 * email: info@seamless-if.org
 *
 * The contents of this file is subject to the SEAMLESS Association License for 
 * software infrastructure and model components Version 1.1 (the "License");
 * you may not use this file except in compliance with the License. You may 
 * obtain a copy of the License at http://www.seamlessassociation.org/License.htm
 * 
 * Software distributed under the License is distributed on an "AS IS"  basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for 
 * the specific governing rights and limitations.
 *
 * The Initial Developers of the Original Code are:
 * - Benny Jonsson; Lund University
 * - Rob Knapen; Alterra, Wageningen UR
 * ===========================================================================
 * Contributor(s): N/A
 * ===========================================================================
-->

<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">

	<!-- Disabled, most code in this component is generated which creates a lot of warnings...
	<module name="StrictDuplicateCode">
		<property name="min" value="15" />
		<property name="severity" value="warning" />
	</module>
	-->

	<module name="TreeWalker">
		<property name="severity" value="warning" />
		<module name="ConstantName" />
		<module name="LocalFinalVariableName"></module>
		<module name="LocalVariableName">
			<property name="format" value="^[a-z_][a-zA-Z0-9]*$"/>
		</module>
		<module name="MemberName">
			<property name="format" value="^[a-z_][a-zA-Z0-9]*$"/>
		</module>
		<module name="MethodName"></module>
		<module name="PackageName"></module>
		<module name="ParameterName"></module>
		<module name="StaticVariableName"></module>
		<module name="TypeName"></module>		
	</module>
</module>
